body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #4d375d;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #4d375d;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66bfbf;
  margin: auto;
}

a {
  color: #4d375d;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 4%;
  margin: 80px auto 80px auto;
}

.top-container {
  background-color: #aee6e6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.contact-me {
  margin-bottom: 100px;
}

.bottom-container {
  background-color: #aee6e6;
  padding: 50px;
}

.footer-link {
  margin: 20px;
}

.footer-link:hover {
  color: #474949;
}

.copyright {
  color: #474949;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.profile-img {
  height: 200px;
  width: 200px;
  margin-top: 60px;
}

.web-image {
  margin-top: 20px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.java-image {
  width: 25%;
  float: right;
  margin-left: 30px;
  margin-top: -20px;
}

.android-image {
  width: 25%;
  float: left;
  margin-right: 30px;
  margin-top: -15px;
}

.skill-row {
  margin: 100px auto 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.bio {
  margin: 20px auto 20px auto;
  color: #40514e;
  width: 32.1875rem;
}

.btn {
  background: #AEE6E6;
  background-image: -webkit-linear-gradient(top, #AEE6E6, #11999E);
  background-image: -moz-linear-gradient(top, #AEE6E6, #11999E);
  background-image: -ms-linear-gradient(top, #AEE6E6, #11999E);
  background-image: -o-linear-gradient(top, #AEE6E6, #11999E);
  background-image: -webkit-gradient(to bottom, #AEE6E6, #11999E);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height: 0;
  line-height: 0;
  color: #FFFFFF;
  font-family: Tahoma;
  width: 108px;
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 50px;
}

.btn:hover {
  margin-top: 50px;
  background: #c1a1d3;
  background-image: -webkit-linear-gradient(top, #c1a1d3, #0d335d);
  background-image: -moz-linear-gradient(top, #c1a1d3, #0d335d);
  background-image: -ms-linear-gradient(top, #c1a1d3, #0d335d);
  background-image: -o-linear-gradient(top, #c1a1d3, #0d335d);
  background-image: -webkit-gradient(to bottom, #c1a1d3, #0d335d);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}